body {
    color: #fff;
    /* background: #17181c; */
    /* background: linear-gradient(to bottom, #131417, rgb(12, 24, 61)) no-repeat; */
    background: url('https://img3.akspic.ru/crops/2/6/6/5/3/135662/135662-nochnoenebo-nebo-astronomicheskijobekt-tumannost-zvezda-3840x2160.jpg') center/cover no-repeat fixed;
    font-family: sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

@media(max-width: 500px) {
    header {
        flex-direction: column;
        align-items: start;
        justify-content: center;
        margin-bottom: 10px;
    }
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

.my-news {
    width: 90px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 20px 0 0;
    padding: 0 0 3px;
    border-radius: 50px;
    border: 1px solid white;
    color: white;
    transition: all 0.4s;

}

.all-news {
    background-color: rgba(255, 255, 255, 0.579);
    border: 1px solid rgba(255, 255, 255, 0.496);
    color: rgb(21, 21, 26);
    font-weight: 600;
}

.my-news:hover,
.my-news:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.all-news:hover,
.all-news:focus {
    background-color: #69db7e;
    color: rgb(21, 21, 26);
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

footer .rss {
    width: 10%;
    transition: all 0.4s;
}

footer .rss-img {
    opacity: 0.6;
    transition: all 0.4s;
}

footer .rss:hover {
    transform: scale(1.05);
}

footer .rss-img:hover {
    opacity: 0.8;
}


footer .copyright {
    font-size: 14px;
    /* color: #333; */
    color: #5e5e5e;
    text-align: center;
}

footer .copyright a {
    color: #868686;
    /* color: #444; */
}

footer .copyright a:hover {
    color: #bababa;
    /* color: #555; */
}

footer .copyright:before {
    content: '©';
}

footer .nelany:before {
    content: '';
}

.main {
    flex-grow: 1;
}