@keyframes moveAnimation1 {
  0% {
    top: 80%;
    left: -15%;
  }

  20% {
    top: 60%;
    left: 5%;
  }

  40% {
    top: 50%;
    left: 30%;
  }

  60% {
    top: 45%;
    left: 50%;
  }

  80% {
    top: 25%;
    left: 77%;
  }

  100% {
    top: 5%;
    left: 115%;
  }
}

@keyframes moveAnimation2 {
  0% {
    top: 5%;
    left: 115%;
  }

  20% {
    top: 15%;
    left: 85%;
  }

  40% {
    top: 40%;
    left: 60%;
  }

  60% {
    top: 50%;
    left: 40%;
  }

  80% {
    top: 65%;
    left: 20%;
  }

  100% {
    top: 40%;
    left: -15%;
  }
}

@keyframes moveAnimation3 {
  0% {
    top: 35%;
    left: 115%;
  }

  20% {
    top: 45%;
    left: 85%;
  }

  40% {
    top: 60%;
    left: 65%;
  }

  60% {
    top: 80%;
    left: 40%;
  }

  80% {
    top: 60%;
    left: 25%;
  }

  100% {
    top: 50%;
    left: -15%;
  }
}

@keyframes moveAnimation4 {
  0% {
    top: 35%;
    left: 115%;
  }

  20% {
    top: 45%;
    left: 85%;
  }

  40% {
    top: 40%;
    left: 60%;
  }

  60% {
    top: 30%;
    left: 35%;
  }

  80% {
    top: 20%;
    left: 15%;
  }

  100% {
    top: 10%;
    left: -15%;
  }
}

@keyframes moveAnimation5 {
  0% {
    top: 35%;
    right: 110%;
  }

  20% {
    top: 45%;
    right: 85%;
  }

  40% {
    top: 40%;
    right: 60%;
  }

  60% {
    top: 30%;
    right: 35%;
  }

  80% {
    top: 20%;
    right: 15%;
  }

  100% {
    top: 10%;
    right: -10%;
  }
}

@keyframes moveAnimation6 {
  0% {
    top: 5%;
    right: 110%;
  }

  20% {
    top: 15%;
    right: 85%;
  }

  40% {
    top: 25%;
    right: 60%;
  }

  60% {
    top: 40%;
    right: 40%;
  }

  80% {
    top: 60%;
    right: 20%;
  }

  100% {
    top: 40%;
    right: -10%;
  }
}

.content {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2,
  h3,
  h4 {
    font-weight: 400;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    margin: 5px 0;
  }
}

.flying-butterfly {
  position: absolute;
  width: 60px;
  height: 55px;
  right: -100px;
  top: 50%;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: -1;
  opacity: 0.7;
}

.butterfly-fat {
  width: 65px;
  height: 45px;
}

.butterfly-purple {
  opacity: 1;
}

.butterfly-button-img {
  width: 45px;
  height: 35px;
  transition: all 0.4s;
  cursor: pointer;
  border-radius: 10px;
  opacity: 0.7;
}

.chat-onn {
  z-index: 100;
  transition:
    width 0.4s,
    height 0.4s,
    transform 0.4s;
}

.grow {
  width: 70px;
  height: 65px;
}

.butterfly-button-img:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 8px rgb(255, 234, 0);
}

.flying-butterfly.animation1 {
  animation-name: moveAnimation1;
}

.flying-butterfly.animation2 {
  animation-name: moveAnimation2;
}

.flying-butterfly.animation3 {
  animation-name: moveAnimation3;
}

.flying-butterfly.animation4 {
  animation-name: moveAnimation4;
}

.flying-butterfly.animation5 {
  animation-name: moveAnimation5;
}

.flying-butterfly.animation6 {
  animation-name: moveAnimation6;
}

.flowers-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.flowers {
  height: 94px;
  width: 90px;
  filter: brightness(0) saturate(100%) invert(91%) sepia(60%) saturate(4598%) hue-rotate(6deg) brightness(84%)
    contrast(101%);
  opacity: 0.8;
}

.hint {
  position: absolute;
  top: 5px;
  left: 20px;
  color: rgba(200, 255, 0, 0.629);
  transition: all 0.4s;
}

.invisible {
  pointer-events: none;
  opacity: 0;
  z-index: -100;
}
