.break-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.butterfly {
  width: 25px;
  height: 25px;
}

.unread-messages {
  width: 100%;
  text-align: center;
  margin: 15px 0;
}
