.button {
  padding: 0 5px 3px 5px;
  background-color: rgba(184, 73, 59, 0.825);
  border: 1px solid rgba(139, 29, 9, 0.386);
  border-radius: 5px;
  color: rgba(255, 240, 227, 0.903);
  transition: all 0.4s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.shaking {
  animation: shake 1s ease;
}
