.main__road-container {
  width: 100%;
}

.car {
  max-width: 140px;
  max-height: 80px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  fill: #c6cfd0;
}

@media (max-width: 1000px) {
  .main__road-tools {
    margin-bottom: 5px;
  }

  .car {
    max-width: 80px;
    max-height: 30px;
    bottom: 5px;
  }

  .flag {
    max-width: 40px;
    margin-right: 80px;
  }
}
