.notfound-text {
  margin: 5% 0 0 0;
  color: rgb(173, 216, 0);
  font-size: 40px;
  font-weight: 800;
}

.smile {
  width: 30%;
  filter: brightness(0) saturate(100%) invert(91%) sepia(60%) saturate(4598%) hue-rotate(6deg) brightness(84%)
    contrast(101%);
}
