.notfound-text {
  margin: 10px;
  color: rgb(173, 216, 0);
  text-shadow: 2px 2px 8px rgb(255, 0, 0);
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}

.smile {
  width: 30%;
  filter: brightness(0) saturate(100%) invert(91%) sepia(60%) saturate(4598%) hue-rotate(6deg) brightness(84%)
    contrast(101%);
}

.wait-img {
  width: 30%;
  margin-top: 3%;
}
