.buttons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main_button {
  width: 200px;
  height: 40px;
  margin: 5% 0 0 0;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
}

.main__select-container {
  display: flex;
  gap: 10px;
}

.main__tools-container {
  width: 90vw;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
}

.main__translate-container {
  width: 100%;
  min-height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 5px;
  color: rgba(184, 73, 59, 0.825);
  transition: all 0.4s;
}

.main__translate {
  opacity: 0;
  transition: all 0.4s;
}

.appearing {
  opacity: 1;
}
