@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes semiFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: translateX(15px);
  }

  25%,
  50%,
  75% {
    transform: translateX(-15px);
  }
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  text-align: center;
  margin: 0;
  background-color: rgba(216, 171, 137, 0.721);
  caret-color: transparent;
}

.content {
  width: 100%;
  max-width: 1440px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./assets/firstscreen.jpg');
  background-size: cover;
  background-position: center;
  border: 2px solid rgba(122, 96, 100, 0.458);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  color: rgba(255, 240, 227, 0.903);
}

.content-fadeout {
  animation: fadeOut 1s;
}

.main-content {
  justify-content: center;
  gap: 20px;
  background-image: none;
  background-color: rgb(250, 233, 220);
  color: rgb(92, 38, 17);
  animation: fadeIn 2s;
}

.main-title {
  margin: 10% 0 0 0;
  font-size: 48px;
  letter-spacing: 10px;
  font-weight: 300;
}

.first-description {
  margin: 4% 0 0 0;
  font-size: 22px;
  font-weight: 300;
}

.word {
  height: 2vw;
  min-height: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(122, 96, 100, 0.458);
  animation: fadeIn ease 1s;
  transition: color 0.5s;
  cursor: pointer;
  font-weight: 800;
  user-select: none;

  &:hover {
    color: rgb(255, 0, 0);
  }
}

@media (max-width: 800px) {
  .word {
    font-size: 13px;
    font-weight: 800;
  }
}

@media (max-width: 500px) {
  .word {
    font-size: 11px;
    font-weight: 700;
  }
}

.wrong-word {
  border: 2px solid rgb(255, 0, 0);
}

.dragover {
  border-color: #0b8f25;
}
